html {
  font-size: 14px !important;
}

body {
  overflow-x: hidden; /* Ẩn thanh trượt ngang */
  background-color: rgb(230, 234, 243) !important;
}

/* custom scrollbar */
/* CSS */
::-webkit-scrollbar {
  width: 5px; /* chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background: #b5b5b5; /* màu nền của phần cuộn */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* màu nền của phần cuộn khi di chuột qua */
}

a {
  text-decoration: none !important;
}

.ql-font-Arial {
  font-family: Arial, sans-serif;
}
.ql-font-Verdana {
  font-family: Verdana, sans-serif;
}
.ql-font-Times {
  font-family: 'Times New Roman', serif;
}
.ql-font-Courier {
  font-family: 'Courier New', monospace;
}

/* Sửa đổi nội dung trước các mục lựa chọn font chữ */
.ql-snow .ql-picker.ql-font .ql-picker-label::before {
  content: attr(data-value) !important;
}

/* Sửa đổi nội dung trước các mục lựa chọn font chữ */
.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: attr(data-value) !important;
}

.ql-editor img {
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
}
